p {font-size: 25px; color: palevioletred;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;}
.menu li {display: inline-block;}
.menu li a {text-decoration: none;font-size: 30px; margin-right: 10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: darkturquoise;}
.logo-nombre {display: flex;align-items: center;gap: 10px;}
.logo {width: 150px;
height: auto;}
.nombre {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:palevioletred; font-size: 70px;}
footer {background-color: palevioletred; color: white; text-align: center; padding: 10px; height: 150px;}
.footercontenedor {display: flex; justify-content: space-between; align-items: center;max-width: 1250px;margin: auto;padding: 10px 30px;}

.footerpiedepagina {display: flex; align-items: center; gap: 15px;}

.piedepaginapagos img{ width: 250px;
height: auto; margin: 5px;}

.redessociales a img {width: 50px;
height: auto; margin: 0 10px; transition: transform 0,3s;}
.imagengift{width: 300px; margin-bottom: 100px;}
* { margin: 10px; padding: 0; box-sizing: border-box; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
.productosbody{background-color: rgb(255, 255, 255);text-align: center;}
h2 {margin: 20px 0;
color: palevioletred; font-size: 24px;}
.conjuntoproductos {display: flex;justify-content: center; gap: 15px; padding: 20px; overflow-x: auto; white-space: nowrap;}
.producto img {width: 80px; height: auto; border-radius: 5px;}
.producto h3 {font-size: 16px; margin: 10px 0;color: palevioletred;}
.pregunta h3 {font-size: 20px; color: darkturquoise; margin-bottom: 5px;}
.contacto { font-size: 70px; margin: auto; padding: 20px; border-radius: 10px; color: palevioletred;}
h4 {font-size: 30px; color: darkturquoise; margin-bottom: 10px;}
.titulopreg {font-size: 30px; color: darkturquoise; margin-bottom: 20px;}
.contactoinfo {font-size: 20px;}
.whatsapp {text-decoration: none;}
.email {text-decoration: none;}
h1 {margin: 20px 0;
    color: palevioletred; font-size: 24px;}