<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <div class="logo-nombre"> 
            <img src="../img/LOGO.png" alt="logo" class="logo">
            <h1 class="nombre">STICKERLAND</h1>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="../index.html">inicio</a></li>
            <li><a href="#">contacto</a></li>
            <li><a href="./preguntasFrecuentes.html">preguntas frecuentes</a></li>
            <li><a href="./productos.html"></a></li>
            <li><a href="./nosotros.html">nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main class="contacto">
        <h5>contacto</h2>
        <p class="titulopreg">puedes contactarnos a traves de whatsapp o correo electronico</p>

        <div class="contactoinfo">
            <a href="https://wa.me/1170004852" target="_blank" class="whatsapp"> enviar mensaje por whatsapp </a>
            <a href="mailto:vickycastiella@gmail.com" target="_blank" class="email"> enviar correo electronico </a>
        </div>
    </main>
    <footer> <div class="footercontenedor">
        <div class="redessociales">
        <a href="https://www.facebook.com/share/19o5UAnSsU/?mibextid=wwXIfr" target="_blank">
            <img src="../img/logofacebook.png" alt="facebook"> </a>
        <a href="https://www.instagram.com/stickerland.arg?igsh=MTl2d2xteGMybm02aQ==" target="_blank">
                <img src="../img/logoinstagram.png" alt="instagram"> </a>
    </div>
    <div class="piedepagina"> <div class="piedepaginapagos">
        <img src="../img/metodosdepago.png" alt="">
    </div></div>
    </footer>
</body>
</html>