<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <div class="logo-nombre"> 
            <img src="../img/LOGO.png" alt="logo" class="logo">
            <h1 class="nombre">STICKERLAND</h1>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="../index.html">inicio</a></li>
            <li><a href="./contacto.html">contacto</a></li>
            <li><a href="./preguntasFrecuentes.html">preguntas frecuentes</a></li>
            <li><a href="./productos.html">productos</a></li>
            <li><a href="#">nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <h1>NOSOTROS</h1>
        <p>¡Bienvenidos a Stickerland Somos una comunidad apasionada por la creatividad, el diseño y la expresión a
            través de stickers únicos y divertidos. Desde ilustraciones originales hasta diseños personalizados, nos
            dedicamos a darle vida a tus ideas y ayudarte a decorar tu mundo con estilo.

            En Stickerland, creemos que un sticker no es solo una pegatina: es una forma de transmitir personalidad,
            conectar con otros y llevar un toque especial a cualquier superficie. Ya sea que busques darle vida a
            tus libretas, personalizar tu computadora, decorar tu termo o compartir emociones con tus amigos, ¡tenemos
            el diseño perfecto para vos!</p>
        <img src="../img/sticker bad bunny.png" alt="">



    </main>
    <footer> <div class="footercontenedor">
        <div class="redessociales">
        <a href="https://www.facebook.com/share/19o5UAnSsU/?mibextid=wwXIfr" target="_blank">
            <img src="../img/logofacebook.png" alt="facebook"> </a>
        <a href="https://www.instagram.com/stickerland.arg?igsh=MTl2d2xteGMybm02aQ==" target="_blank">
                <img src="../img/logoinstagram.png" alt="instagram"> </a>
    </div>
    <div class="piedepagina"> <div class="piedepaginapagos">
        <img src="../img/metodosdepago.png" alt="">
    </div></div>
    </footer>
</body>

</html>