<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas frecuentes</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <div class="logo-nombre"> 
            <img src="../img/LOGO.png" alt="logo" class="logo">
            <h1 class="nombre">STICKERLAND</h1>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="../index.html">inicio</a></li>
            <li><a href="./contacto.html">contacto</a></li>
            <li><a href="#">preguntas frecuentes</a></li>
            <li><a href="./productos.html">productos</a></li>
            <li><a href="./nosotros.html">nosotros</a></li>
            </ul>
        </nav>
    </header>
    <section class="faq">
        <h2 class="preguntasf">preguntas frecuentes</h2>
        <div class="pregunta">
            <h3>¿de que material son los stickers?</h3> 
            <p>Los stickers están hechos de vinilo adhesivo de alta calidad, lo que los hace resistentes al agua y al desgaste. Son ideales para laptops, botellas, cuadernos y más</p>       
         </div>

         <div class="pregunta">
            <h3>¿Son resistentes al agua y al sol?</h3> 
            <p>Sí, los stickers están laminados para resistir agua y rayones. Además, los de vinilo premium son resistentes al sol y pueden durar años sin perder color.</p>       
         </div>

         <div class="pregunta">
            <h3>¿Hacen diseños personalizados?</h3> 
            <p>¡Sí! Podemos crear stickers con tu diseño, logo o ilustración. Solo envíanos la imagen en buena calidad y te ayudamos con el proceso.</p>       
         </div>

         <div class="pregunta">
            <h3>¿Cuánto tardan en entregar los pedidos?</h3> 
            <p>El tiempo de entrega depende del volumen del pedido y la ubicación, pero generalmente enviamos en 2-5 días hábiles. También ofrecemos envíos exprés si lo necesitas más rápido</p>       
         </div>

         <div class="pregunta">
            <h3>¿Cuáles son los métodos de pago y envío?</h3> 
            <p>Aceptamos pagos por transferencia, PayPal y otros métodos seguros. Los envíos se realizan por paquetería confiable y te proporcionamos un número de seguimiento.</p>       
         </div>


    </section>
    <footer> <div class="footercontenedor">
        <div class="redessociales">
        <a href="https://www.facebook.com/share/19o5UAnSsU/?mibextid=wwXIfr" target="_blank">
            <img src="../img/logofacebook.png" alt="facebook"> </a>
        <a href="https://www.instagram.com/stickerland.arg?igsh=MTl2d2xteGMybm02aQ==" target="_blank">
                <img src="../img/logoinstagram.png" alt="instagram"> </a>
    </div>
    <div class="piedepagina"> <div class="piedepaginapagos">
        <img src="../img/metodosdepago.png" alt="">
    </div></div>
    </footer>
</body>
</html>